#cc {
	border-style: solid;
	border-color: grey;
	background-color: grey;
	height: 600px;
	width:600px;
	margin: auto;
}

#ccc {
	border-style: solid;
	border-color: grey;
	height: 500px;
	width:500px;
	position: relative;
	margin:50px auto;
	display: grid;
  grid-gap: 1px;
  grid-auto-rows: minmax(auto, auto);
}

h1 {
	text-align: center;
}

body {
	height: 800px;
}

#wrapper {
	text-align: center;
}